@font-face {
  font-family: GothamMedium;
  src: url('./fonts/iCiel-Medium.ttf');
}

@font-face {
  font-family: GothamLight;
  src: url('./fonts/iCiel-Thin.ttf');
}

@font-face {
  font-family: GothamThin;
  src: url('./fonts/iCiel-Thin.ttf');
}

@font-face {
  font-family: GothamBold;
  src: url('./fonts/HomepageBaukasten-Bold.ttf');
}
