html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'GothamLight', sans-serif;
  font-size: 16px;
  height: 100%
}

a {
  font-family: 'GothamLight', sans-serif;
  color: $primary;
}
hr {
  margin: 1rem 0;
  background: #f4f4f4 !important;
  height: 1px !important;
  box-sizing: inherit;
}

h2 {
  font-family: 'GothamMedium', sans-serif;
  color: $primary;
  font-weight: bold;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 30px;
}
.secondary-btn {
  background-color: $info !important;
  border-color: $info !important;
}
.success-btn {
  background-color: $success !important;
  border-color: $success !important;
}
.outlined_button {
  border-color: $primary !important;
  color: $primary !important;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
.file-cta {
  border: none !important;
}
.file-input {
  display: none !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-family: 'GothamMedium', sans-serif;
}
.ant-notification-notice-description {
  font-family: 'GothamLight', sans-serif;
  color: #2e434e !important;
  font-weight: 600 !important;
}
.ant-select-dropdown-menu-item {
  font-family: 'GothamLight', sans-serif;
  color: #2e434e !important;
  font-weight: 600 !important;
}
